/dist
.env
.DS_Store
/uploads
/node_modules
yarn-error.log

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
package-lock.json
yarn.lock
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/lib
node_modules
.DS_store
.env*
/*.js
!index.js
!jest.config.js
yarn.lock
.npmignore

/dist

/api
/services
/models
/subscribers
/loaders